<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source =.;Inittial Catalog = Planning; User ID = SYSADM; Password = SYSADM;"
      providerName="System.Data.SqlClient" />
    <add name="Planning.Properties.Settings.ConnectionString" connectionString="Data Source=ПОЛЬЗОВАТЕЛЬ-ПК\SQLEXPRESS2017;Initial Catalog=Planning;User ID=SYSADM; Password = SYSADM"
      providerName="System.Data.SqlClient" />
    <add name="PlanningDbContext" connectionString="metadata=res://*/DbPlaning.csdl|res://*/DbPlaning.ssdl|res://*/DbPlaning.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ПОЛЬЗОВАТЕЛЬ-ПК\SQLEXPRESS2017;initial catalog=Planning;persist security info=True;user id=SYSADM;password=SYSADM;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>