<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<connectionStrings>
    <add name="cn" connectionString="Data Source =.;Inittial Catalog = Planning; User ID = SYSADM; Password = SYSADM;"
        providerName="System.Data.SqlClient" />
    <add name="Planning.Properties.Settings.ConnectionString" connectionString="Data Source=ПОЛЬЗОВАТЕЛЬ-ПК\SQLEXPRESS2017;Initial Catalog=Planning;User ID=SYSADM; Password = SYSADM"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
