<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterTabControl" version="1.0.19295.1523" targetFramework="net461" />
  <package id="Dapper" version="2.0.90" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FastReport.Compat" version="2021.2.3" targetFramework="net472" />
  <package id="FastReport.OpenSource" version="2021.3.4" targetFramework="net472" />
  <package id="FastReport.OpenSource.Data.MsSql" version="2021.3.0" targetFramework="net472" />
  <package id="MDIWindowManager" version="2.1.0" targetFramework="net461" />
  <package id="PagedControl" version="2.2.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net472" />
  <package id="TabControl" version="2.1.2" targetFramework="net461" />
</packages>