<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterTabControl" version="1.0.19295.1523" targetFramework="net461" />
  <package id="Dapper" version="2.0.35" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="MDIWindowManager" version="2.1.0" targetFramework="net461" />
  <package id="PagedControl" version="2.2.0" targetFramework="net461" />
  <package id="TabControl" version="2.1.2" targetFramework="net461" />
</packages>