<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <Connection>
    <ServerName>DZHURAVLEV</ServerName>
    <BaseName>Planning</BaseName>
    <UserName>sysadm</UserName>
  </Connection>
  <ReportTemplate>
    <ShipmentTemplate>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ЛистОтгрузки.xltx</ShipmentTemplate>
    <ReceiptTemplate>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ЛистПрихода.xltx</ReceiptTemplate>
    <PeriodTemplate>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ОтчетЗаПериод.xltx</PeriodTemplate>
  </ReportTemplate>
  <View>
    <HideColumns>UniqueKey,colDate,colKlientId,PrcValue,colDoneShare,colSpecCond,colDriverName,colTransportType,colStartTime,colStampNumber,FontColor,BackgroundColor</HideColumns>
    <ActionFilter>вход,выход</ActionFilter>
    <ShipmentColumns>
      <ShipmentColumns>
        <Id>UniqueKey</Id>
        <Order>0</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colId</Id>
        <Order>1</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colIdNakl</Id>
        <Order>2</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDate</Id>
        <Order>3</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTime</Id>
        <Order>4</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDirection</Id>
        <Order>6</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderId</Id>
        <Order>5</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderType</Id>
        <Order>8</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colKlientId</Id>
        <Order>7</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colKlientName</Id>
        <Order>8</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colStatus</Id>
        <Order>16</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colCopmletePct</Id>
        <Order>9</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>PrcValue</Id>
        <Order>10</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDoneShare</Id>
        <Order>11</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colComment</Id>
        <Order>12</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderComment</Id>
        <Order>13</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colGate</Id>
        <Order>15</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colSpecCond</Id>
        <Order>17</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDriverPhone</Id>
        <Order>18</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDriverName</Id>
        <Order>19</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTransComp</Id>
        <Order>20</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTransportType</Id>
        <Order>21</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTrackNumber</Id>
        <Order>22</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colTrailerNumber</Id>
        <Order>23</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colAttorneyNumber</Id>
        <Order>26</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colAttorneyDate</Id>
        <Order>27</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colSubmissionTime</Id>
        <Order>28</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colStartTime</Id>
        <Order>29</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colEndTimePlan</Id>
        <Order>30</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colEndTimeFact</Id>
        <Order>31</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDelayReason</Id>
        <Order>32</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDelayComment</Id>
        <Order>33</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colDepositor</Id>
        <Order>34</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colStampNumber</Id>
        <Order>35</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>FontColor</Id>
        <Order>36</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>BackgroundColor</Id>
        <Order>37</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>IsAddLv</Id>
        <Order>38</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colShippingPlacesNumber</Id>
        <Order>24</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrderWeight</Id>
        <Order>25</Order>
        <Visible>False</Visible>
      </ShipmentColumns>
      <ShipmentColumns>
        <Id>colOrdPartLVCode</Id>
        <Order>14</Order>
        <Visible>True</Visible>
      </ShipmentColumns>
    </ShipmentColumns>
  </View>
  <CurrentTaskColumns>
    <Column>
      <Id>colDate</Id>
      <Title>Дата</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colTime</Id>
      <Title>Время</Title>
      <Visible>True</Visible>
      <Width>103</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colOrderId</Id>
      <Title>Код заказа</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colKlient</Id>
      <Title>Клиент</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colStatus</Id>
      <Title>Статус</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colDonePrc</Id>
      <Title>Собран в (%)</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountLine</Id>
      <Title>Кол-во линий</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountPallet</Id>
      <Title>Кол-во паллет</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountBox</Id>
      <Title>Кол-во коробов</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colAmountPieces</Id>
      <Title>Кол-во штук</Title>
      <Visible>True</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colShpComment</Id>
      <Title>Комментарии по загрузке</Title>
      <Visible>False</Visible>
      <Width>221</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colGateName</Id>
      <Title>Номер ворот</Title>
      <Visible>False</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colSubmissionTime</Id>
      <Title>Время подачи документов</Title>
      <Visible>False</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colStartTime</Id>
      <Title>Время начала</Title>
      <Visible>False</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colEndTimePlan</Id>
      <Title>Время окончания</Title>
      <Visible>False</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
    <Column>
      <Id>colEndTimeFact</Id>
      <Title>Убытие по факту</Title>
      <Visible>False</Visible>
      <Width>100</Width>
      <BgColor>0</BgColor>
      <FontColor>0</FontColor>
    </Column>
  </CurrentTaskColumns>
  <TaskUpdateInterval>10</TaskUpdateInterval>
  <TaskViewFonSize>9</TaskViewFonSize>
  <VolumeCalcTemplates>
    <Template>
      <Name>Евро паллета</Name>
      <PalletWeight>25</PalletWeight>
      <PalletHeight>0.15</PalletHeight>
      <PalletVolume>0.14</PalletVolume>
      <PalleteDimensions>1.41</PalleteDimensions>
    </Template>
    <Template>
      <Name>Евро паллета доп</Name>
      <PalletWeight>25</PalletWeight>
      <PalletHeight>0.15</PalletHeight>
      <PalletVolume>0.14</PalletVolume>
      <PalleteDimensions>1.45</PalleteDimensions>
    </Template>
    <Template>
      <Name>111</Name>
      <PalletWeight>25.0</PalletWeight>
      <PalletHeight>0.0</PalletHeight>
      <PalletVolume>0.0</PalletVolume>
      <PalleteDimensions>0.0</PalleteDimensions>
    </Template>
    <Template>
      <Name>Euro</Name>
      <PalletWeight>25.0</PalletWeight>
      <PalletHeight>0.15</PalletHeight>
      <PalletVolume>0.14</PalletVolume>
      <PalleteDimensions>1.44</PalleteDimensions>
    </Template>
    <Template>
      <Name>222</Name>
      <PalletWeight>250</PalletWeight>
      <PalletHeight>0.15</PalletHeight>
      <PalletVolume>0.14</PalletVolume>
      <PalleteDimensions>1.44</PalleteDimensions>
    </Template>
  </VolumeCalcTemplates>
  <VolumeCalcParams>
    <ImportStartRow>2</ImportStartRow>
    <ImportColVendorCode>1</ImportColVendorCode>
    <ImportColName>2</ImportColName>
    <ImportColAmount>3</ImportColAmount>
  </VolumeCalcParams>
  <Reports>
    <Report>
      <Id>1</Id>
      <Name>Лист отгрузки</Name>
      <TemplatePath>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ЛистОтгрузки.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>2</Id>
      <Name>Лист прихода</Name>
      <TemplatePath>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ЛистПрихода.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>3</Id>
      <Name>Отгрузки за период</Name>
      <TemplatePath>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ОтчетЗаПериод.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>4</Id>
      <Name>Статистика за период</Name>
      <TemplatePath>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ОтчетСтатистикаЗаПериод.xltx</TemplatePath>
    </Report>
    <Report>
      <Id>5</Id>
      <Name>Отчет по ТС</Name>
      <TemplatePath>C:\Users\d.zhuravlev\Planning\master\Planning\bin\Debug\Reports\ОтчетТС.xltx</TemplatePath>
    </Report>
  </Reports>
</Settings>