<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Planning4Reclamation.Properties.Settings.ConnStr"
            connectionString="Data Source=10.7.12.21;Initial Catalog=GCR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>