<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planning4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Planning4.Properties.Settings>
            <setting name="SSRSServer" serializeAs="String">
                <value>http://10.7.12.21/reportserver</value>
            </setting>
            <setting name="SSRSLogin" serializeAs="String">
                <value>RU-S-0101\sk</value>
            </setting>
            <setting name="SSRSPassword" serializeAs="String">
                <value>se99}DP~$|@</value>
            </setting>
        </Planning4.Properties.Settings>
    </userSettings>
</configuration>