<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Planning4Dashboard.Properties.Settings.connectionString"
            connectionString="Data Source=DZHURAVLEV;Initial Catalog=Planning;Persist Security Info=True;User ID=sysadm;Password=sysadm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>